<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/htmlTag.ejs")%>
  <body>
    <section id="editProfileSection">
      <div class="wrapper">
        <form>
          <div class="form-group">
            <div id="profileImage"></div>
            <p class="userName">artur.dias18</p>
            <input class="editInput" type="file" />
          </div>
          <div class="form-group">
            <label class="labelEdit">Name</label>
            <input class="editInput" type="text" />
          </div>
          <div class="form-group">
            <label class="labelEdit">Username</label>
            <input class="editInput" type="text" />
          </div>
          <div class="form-group">
            <label class="labelEdit">Bio</label>
            <textarea class="editInput" rows="2" type="text"></textarea>
          </div>
          <div class="form-group">
            <label class="labelEdit">Email</label>
            <input class="editInput" type="emai" />
          </div>
          <div class="form-group">
            <label class="labelEdit">Phone Number</label>
            <input class="editInput" type="tel" />
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
