<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/htmlTag.ejs")%>
  <body>
    <section id="sectionProfile">
      <div class="wrapper">
        <div class="container">
          <div id="containerProfile">
            <div id="profile"></div>
          </div>
          <div id="infoContainer">
            <div id="buttonContainer">
              <p class="userName">artur.dias18</p>
              <button class="editProfileButton">Edit Profile</button>
            </div>
            <p id="name">Artur</p>
            <p id="description">
              Bikes 🖤<br />
              Dutch boy 🇳🇱
            </p>
            <p id="NumberPost"><span>Number of Post: </span>12</p>
          </div>
        </div>
      </div>
    </section>

    <section id="Post">
      <div class="wrapper">
        <div class="containerPost">
          <img class="post" src="/assets/img/profile.jpg" />
          <img class="post" src="/assets/img/profile.jpg" />
          <img class="post" src="/assets/img/profile.jpg" />
          <img class="post" src="/assets/img/profile.jpg" />
        </div>
      </div>
    </section>
  </body>
</html>
